<% @list_movies.each do |list| %>

   <div class="list_item">


     <a id = "title_m" href="/movies_search?imdbid=<%= list["imdbID"] %>"> <%= list["Title"] %> </a>

     <p><%= list['Year'] %></p>

     <a  href = "/movies_search?imdbid=<%= list["imdbID"]%>"><img id = 'poster_m' src="<%= list['Poster'] %>" ></a>


   </div>

<% end %>


 <p><a href = "/">go back to seach page</a></p>
 <p><a href = "/about">go to about</a></p>
