
<div class="left">
  <p>Title: <%=@title%></p>
  <p>Year: <%=@year%></p>
  <p>Rated: <%=@rated%></p>
  <p>Released: <%=@released%></p>
  <p>Runtime: <%=@run_time%></p>
  <p>Genre: <%=@genre%></p>
  <p>Director: <%=@director%></p>
  <p>Language: <%=@language%></p>
  <p>Actors: <%=@actors%></p>
  <p>Plot: <%=@plot%></p>
  <p>Awards: <%=@awards%></p>
  <p>IMDB Rating: <%=@imdb_rating%></p>
  <p class="not_exist"><%="That movie does not exist in our database" if @res == "False"%></p>
  <form action="/movie" method="get">
    <label for="movie_name"></label>
    <input type="text" id="movie_name" name="movie_name">
    <button>Search</button>
  </form>
  <a href="/about">About</a>
</div>

<div class="right">
  <img src="<%=@poster%>" alt="<%=@title%>">
</div>
