<h1>Good women hunting</h1>

<a href="/people/new">new person</a>
<p>Current Database </p>
<% @people.each do |person| %>

  <img src="<%= person['image_url'] %>"></img>
  <img src="<%= person['partner_url'] %>"></img>
  <p><h2><%= person['name'] %>

    <svg class="heart" viewBox="0 0 32 29.6">
      <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
    	c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
    </svg>

     <%= person['partnername'] %>

<a class="editLink" href="/people/<%= person['id'] %>/edit">Edit</a>
</h2>
<form action="/people/<%= person['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>
</p>
<!--<a href="/people/<%= person['id'] %>">details</a>-->


<% end %>
